<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="${packageFirst}.${package}.mapper.${className}Mapper">
    <!-- 返回值映射map -->
    <resultMap id="${classNameLower}Map" type="${packageFirst}.${package}.entity.${className}">
        <#list table.columns as column>
         <result property="${column.name}" column="${column.dbName}"/>
        </#list>
    </resultMap>

    <sql id="SelectColumn">
    <#list table.columns as column>
        ${column.dbName},
    </#list>
    </sql>

    <select id="selectByNo" resultMap="${classNameLower}Map">
    select
    <include refid="SelectColumn"/>
    from
    ${table.dbName}
    </select>


</mapper>