<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.small.goal.login.mapper.SmallGoalUserMapper">
    <!-- 返回值映射map -->
    <resultMap id="smallGoalUserVOMapperMap" type="com.small.goal.login.vo.SmallGoalUserVO">
        <result property="id" column="id"/>
        <result property="userName" column="user_name"/>
        <result property="userId" column="user_id"/>
        <result property="creatTime" column="creat_time"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>

    <select id="selectTest" resultType="java.lang.String">
        select name from demo where id = #{id}
    </select>


</mapper>